<div id="forgot-password-form">
  <div class="container justify-content-center">
    <div class="row text-center">
      <div class="col-md-6 offset-md-3"-->
        <div class="form-signin my-5">
          <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié ?</h1><br>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-4" %>
              </div>

              <div class="actions">
                <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
            <br>
            <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
