
<div class="container">
    <div class="row">
    <% if @cart.items.all.first == nil %>
    <div class="col">
        <div class="jumbotron mt-70" style="padding:0;">
            <div class="d-flex align-items-center h-100">
                <div class="container text-center py-5">
                <h3 class="mb-0">Votre pannier est vide</h3>
                <p class="mb-0">Ajoutez des produit à votre panier.</p>
                </div>
            </div>
        </div>
    </div>
    <% else %>
        <h1> Mon Panier: </h1>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Delete</th>
                    </tr>
                </thead>
                <% price = 0%>
                <% @cart.items.each do |item_select|%>
                    <tbody>
                        <tr>
                            <td><img src="<%=item_select.image_url%>" class="img-radius" alt="User-Profile-Image" style="width: 50px"></td>
                            <td><%= link_to item_select.title, item_path(item_select.id) %></td>
                            <td><%= item_select.description %></td>
                            <td><%= item_select.price %>€</td>
                            <td><%= link_to 'Delete', carditem_path(item_select), method: :delete%></td>
                            <% price = price + item_select.price%>
                        </tr>
                    </tbody>
                <% end%>
                <thead>
                    <tr>
                    <th>Price : <%= price %>€</th>
                    </tr>
                </thead>
            </table>
    <% end %>
    </div>
</div>