<div class="container">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <%= form_for @item do |f| %>
      <% if @item.errors.any? %>
      <h4><%= pluralize(@item.errors.count, "error") %> prevented this message from saving</h4>
        <ul>
          <% @item.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
            <% end %>
        </ul>
        <% end %>
    <div class="form-group">
        <label>Titre de l'article </label>
        <%= f.text_field :title, class: 'form-control'%>
    </div>
    <div class="form-group">
        <label>Description de l'article</label>
        <%= f.text_area :description, class: 'form-control'%>
    </div>
    <div class="form-group">
        <label>Prix</label>
        <%= f.text_field :price, class: 'form-control'%>
    </div>
    <div class="form-group">
        <label>Image url</label>
        <%= f.text_field :image_url, class: 'form-control'%>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
    <% end %>
</div>